[2016-05-04 23:34] raefa opened #1 "Error saying it is not supported on iOS"
Thanks for putting the app out.

I note that when building see this in the logs:
`nativescript-videorecorder is not supported for ios.`

It subsequently does not work because the module is not there. Can you get it to run on iOS?

[2016-05-05 00:58] triniwiz commented on #1
Sorry ios is not supported atm but I'm sure someone awesome would add support for it soon 😊.

[2016-05-05 01:04] raefa commented on #1
Ahhh ... sorry. I must be seeing things. I thought I read that it was cross platform already! No dramas. I am hoping someone will support it soon too. Sorry ... I don't have the skills to do it.

[2016-05-05 01:41] triniwiz commented on #1
I would of but I don't own a Mac yet 😂 so I'll see if I get someone to do it

[2016-05-10 23:46] victorsosa commented on #1
HI guys,

 I committed a PR #2 to implemented the IOS part; this is beta.

[code]

[2016-05-11 00:11] triniwiz commented on #1
@raefa yupdate your plugin to enjoy the ios goodness @victorsosa has added :smile:

[2016-05-11 00:11] #1 closed, assigned to nobody

[2016-05-11 12:59] NathanaelA opened #3 "NativeScript-Permissions dependency"
Instead of putting this into your repo; you can declare it as a dependency of your plugin.  That way if I fix a bug; you get it.  ;-)

i.e. add to your package.json:
   dependencies: { "nativescript-permissions": "latest" }
and then you just do a
   var np = require('nativescript-permissions');

This keeps your repo clean...  ;-)

[2016-05-11 13:08] victorsosa commented on #3
Hi,
I see you point. Yea, you are right.

[2016-05-11 13:23] triniwiz commented on #3
@NathanaelA thanks for the tip :+1:

[2016-05-11 13:23] #3 closed, assigned to nobody

[2016-05-11 19:45] raefa commented on #1
Great stuff! Will try it out. :)

[2016-06-04 11:14] petarjs opened #5 "iOS support?"
Hello, is this an Android only plugin? I tried adding it to iOS NativeScript project, I get this error:

[code]

[2016-06-04 13:29] triniwiz commented on #5
No ios support was added by @victorsosa

[2016-06-04 20:57] triniwiz commented on #5
@petarslovic the error was fixed update to `1.2.2`

[2016-06-04 20:57] #5 closed, assigned to nobody

[2016-07-16 15:39] abhayastudios opened #7 "plugin not working for me"
I am trying to use the plugin and it seems both on iOS and on Android it is not working for me. I installed the plugin and tried both requiring the module javascript style like in the docs and also changing it to import typescript style as below:

[code]

Any idea what may be wrong?

Android:

[code]

iOS:

[code]

[2016-07-16 15:56] triniwiz commented on #7
android & ios versions ?

[2016-07-16 16:00] abhayastudios commented on #7
I tried on a physical Android device v5.0.1 and on iOS v9.3 simulator that comes with Xcode. Also I do see these directories so it seems the build/prepare steps did pick up on the plugin:

[code]

[2016-07-16 16:02] triniwiz commented on #7
I wanted the version so i can try to reproduce on android but @victorsosa takes care of ios

[2016-07-16 16:05] abhayastudios commented on #7
Thanks! I am probably missing something basic in the setup. I am new to Nativescript...

[2016-07-16 16:12] triniwiz commented on #7
@abhayastudios you can try updating the plugin to `1.3.1` the android problem should be fixed

[2016-07-16 16:42] abhayastudios commented on #7
Android seems to work now :) Just the iOS issue remains.

Thanks!

[2016-07-19 23:12] mattrwh-pC506 commented on #7
@triniwiz and @victorsosa I'm also seeing the same exception with ios (android is working).

`reason: 'videoCameraImage must be either video or audio'`

The ios version I'm emulating on is 9.3.

[2016-08-15 13:35] IvRRimum opened #10 "IOS support"
Does this work for IOS too?

[2016-08-15 13:41] triniwiz commented on #10
Yes but I think it needs a small patch

[2016-08-23 16:43] Daxito commented on #10
@triniwiz So, what is the patch about?

[2016-08-23 16:56] triniwiz commented on #10
check https://github.com/triniwiz/nativescript-videorecorder/issues/7#issue-165934388

[2016-08-23 18:07] Daxito commented on #7
So, iOS is still not supported :-s

[2016-08-23 18:08] triniwiz commented on #7
it is supported just needs a patch

[2016-08-23 18:12] victorsosa commented on #7
I haven't had time, sorry

[2016-08-23 18:13] Daxito commented on #7
Thank you @triniwiz @victorsosa ,I will keep an eye on this plugin!

[2016-09-21 17:11] tastypwnda commented on #7
Hello @triniwiz @victorsosa. We would like to use your plugin in one of our projects but unfortunately iOS-support is still not provided. We would like to get with you in touch with you and eventually pay for the fix (or provide help, if you don't plan fixing it sooner or later). Kind Regards Dominik D. (team-nifty.com)

[2016-09-22 20:10] victorsosa commented on #7
@abhayastudios It's not possible to access camera of your development machine to be used as simulator camera. Camera functionality is not available in any iOS version and any Simulator. You will have to use device only for testing camera purpose.

[2016-09-26 21:32] carlkibler commented on #7
Along with @tastypwnda, I would contribute some money to getting iOS operational again. The plugin is great on Android but I'd sure like my app to work on iOS as well.

[2016-09-30 11:32] xLama opened #11 "New feature. Need help."
Hi.

Thanks to @triniwiz This plugin is very useful for me.

Well I need modify plugin to get video base64 code.

videorecorder.android.js

[code]

that code is running in Java but I have a problem here. It throw an exception "FileNotFound" here

[code]

How can I access to file to encode to base64?

thanks.

[2016-10-04 12:45] tastypwnda commented on #7
@triniwiz - I still want to get in touch with you. Our product is nearly in production and the only feature still not working is the video recording. We need support and are willing to contribute some money for the fix. Please let me at least know if you are still working on it. 3 months since the last commit is fairly long.

[2016-10-08 12:45] ButterMeWaffle opened #12 "Using video recording like snapchat"
As the title says, I'm trying to use this plugin to make a page display from the camera with a floating button to activate it, just like snap chat. Is this even possible with this plugin or even in native script?

[2016-10-08 16:04] triniwiz commented on #12
any screenshots ? i might have an idea

[2016-10-19 10:34] DavidBabel opened #13 "saveToGallery:true not working on android"
Hey !

I tried this plugin on android 6.0.1 and it seems on stock cyanogen camera, this option is not working, since the video is present in the galery.

Regards

[2016-10-19 23:10] triniwiz commented on #13
@DavidBabel interesting i'll need to look into this

[2016-10-20 08:37] DavidBabel commented on #13
I did not noticed it before, but the data.file returned, refer to an inexistant file either.

[2016-10-20 10:31] triniwiz commented on #13
@DavidBabel worked fine last time i tested because it wired the videoplayer

[2016-10-20 13:13] tastypwnda commented on #7
Could you please give an update on the current development status. Still waiting for a reply.

[2016-10-20 13:25] victorsosa commented on #7
To complete the develop and test this, an ipad is needed and also a macbook to compile the project on a OS X environment, and right now I don't have the resources. Camera functionality is not available in any Simulator. I can borrow an Ipad mini, but still missing the macbook. That's why I couldn't fix it, right now.

[2016-10-20 13:28] triniwiz commented on #7
Same here i am waiting until the after the apple event month end before i purchase a macbook but i do have an ipad already

[2016-10-20 13:30] tastypwnda commented on #7
We have all the resources needed to help you. Is it possible to chat or get in touch with you? (teamspeak or skype?) We could help you finish and test the code and you can publish it. We have all the hardware necessary.

[2016-10-31 15:34] AresDev commented on #7
¿Any progress?

If I run it from XCode I get "videoCameraImage must be either video or audio" error

[2016-11-08 17:28] #12 closed, assigned to nobody

[2016-11-11 22:28] melliott03 opened #14 "stream video to save remotely"
[code]
How would I go about streaming the video to the server in bits as it is being recorded? observables?

[2016-12-17 14:52] developper89 commented on #7
hello @tastypwnda , did you find someone for the ios camera functionality ?

[2017-01-18 23:47] bogmihut8 opened #15 "Camera permission neede"
Hello guys,

I just found out about this plugin and added it in my project, but I cannot use the recorder and I always get the "camera permission needed". How can I force the camera permission?

My code:

var vr = require("nativescript-videorecorder");
var videorecorder = new vr.VideoRecorder();

var options = {
    saveToGallery:false, //default false | optional
    duration:10, //(seconds) defau

[2017-01-21 20:50] #15 closed, assigned to nobody

[2017-01-22 15:58] triniwiz commented on #15
On android 6+ you cannot force the permission anymore you need to request it.

[2017-02-15 22:50] GrEg00z opened #16 "plugin error : camera permission needed"
Hello,

I get this error when I try to record a video :

`{"event":"camera permission needed"}`

I use this code (with **Nativescript angular**)

`var videorecorder = new vr.VideoRecorder();`
                `videorecorder.record(options)`
                `.then((data)=>{`
                    `console.log("VIDEO TAKE")`
                    `console.log("data : ", JSON.stringify(data))`

[2017-02-16 02:06] minitru commented on #16
Try adding the permissions to AndroidManifest.xml and doing a full rebuild.

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android

[2017-02-16 09:18] GrEg00z commented on #16
Thanks for your help @minitru, I tried your solution but it still doesn't work

I get the same error message `{"event":"camera permission needed"}`

[2017-02-17 15:35] ButterMeWaffle commented on #16
I am also having this issue, as of a new update today on my LG G5 i am getting this

`{"event":"camera permission needed"}`

However i am asking for the camera permission using the NS camera module

`camera.requestPermissions();`

I have also checked the apps permissions and it does have the camera permission checked. any ideas on how to resolve this?

[2017-03-21 13:37] giscafer opened #17 "tns run android occurs Error: System.err: at com.tns.Runtime.callJSMethod( Runtime.java:1018)"
`tns run android `occurs Error:

[code]

[2017-04-03 20:22] ButterMeWaffle opened #18 "angular4 update - camera permission needed"
After up[dating the angular 4 I was met with this error when trying to open the camera. ` camera permission needed`. I have run into this in the past and cant remember what I did to resolve it. However this time I do believe it has to do with the angular 4 update. Any ideas on how to fix this?

edit - I DID check and i currently have the correct permissions approved for the application. This is on

[2017-04-04 13:15] ButterMeWaffle commented on #18
After testing on a few different devices I have found that the issue is only with devices running android 7.0.

[2017-04-04 14:14] ButterMeWaffle commented on #18
Ok so I have done soem more investigation and have found something that I believe may be the cause of this issue.

So when you check for the permissions you are using this `android.Manifest.permission.CAMERA`
I decided to console log this value and see what I get, its returns as a string equal to `android.Manifest.permission.CAMERA`. So this made me do some digging into the nativescript-permission

[2017-04-04 14:31] ButterMeWaffle commented on #18
I believe the above is incorrect. sorry.

[2017-04-05 12:28] AbdallahBedir commented on #16
adding the permissions to AndroidManifest.xml and still have the error

[2017-04-05 13:36] ButterMeWaffle commented on #16
@AbdallahBedir I did the same, still did not fix it

[2017-04-06 13:59] ButterMeWaffle opened #19 "Webpack ready?"
Does anyone know if this plugin has nay issues with webpack? I have run into this error on all attempts to webpack while using this plugin (even with blank projects) `Module not found: Error: Can't resolve 'nativescript-videorecorder'`

If it is not, how hard would it be to make it webpack-able?

[2017-04-23 00:58] 1392324000 commented on #7
@abhayastudios Can U share how did U deal with the peoblem ? :-)

[2017-04-23 01:02] triniwiz commented on #7
iOS fix coming very soon the basic recording features work already on my machine I'm just working on some advanced features before I push the new build

[2017-04-24 02:56] triniwiz commented on #19
This should work now

[2017-04-24 02:57] triniwiz commented on #17
Update and try again

[2017-04-24 02:57] #17 closed, assigned to nobody

[2017-04-24 02:58] triniwiz commented on #16
This should be fixed in the recent release

[2017-04-24 02:58] #16 closed, assigned to nobody

[2017-04-24 02:59] triniwiz commented on #13
Fixed in the new release 😄

[2017-04-24 02:59] #13 closed, assigned to nobody

[2017-04-24 03:00] triniwiz commented on #11
I'll leave this one up to a vote  😄

[2017-04-24 03:00] triniwiz commented on #10
Fixed https://github.com/triniwiz/nativescript-videorecorder/commit/64e39c5084251622cf862538613555939b5215cf

[2017-04-24 03:00] #10 closed, assigned to nobody

[2017-04-24 03:01] triniwiz commented on #7
Ok so everything should be working in the latest version upgrade away and feel free to reopen if things go south

[2017-04-24 03:01] #7 closed, assigned to nobody

[2017-04-24 03:02] triniwiz commented on #18
The new update should take of this

[2017-04-24 03:02] #18 closed, assigned to nobody

[2017-04-24 03:02] #19 closed, assigned to nobody

[2017-04-24 03:05] triniwiz commented on #14
This feature should make it in the next release

[2017-04-25 09:59] njeadil opened #21 "videorecorder"
hy , when i tap "record video"in  the exemple (demo)  i had this "JS: error TypeError: Cannot read property 'toURI' of undefined
"  can you help ??"

[2017-04-27 23:47] melliott03 commented on #14
That would be awesome!

[2017-05-10 10:43] keepCreate opened #22 "the video record can not work,but i don't know why,just click the red dot and not start"

[2017-05-17 13:15] GrEg00z opened #23 "Android : Recording fail after 4s when READ_EXTERNAL_STORAGE"
Version :
 - nativescript-videorecorder : 3.0.0
 - nativescript : 3.0.0
 - tns-android : 3.0.0
 - android 7.1.1 on Nexus 5X

After adding **READ_EXTERNAL_STORAGE** permission to my nativecript app and request it via nativescript-permission plugin, then when I start a video recording, it records 4 seconds and stops by itself
**The video are not saved in gallery !**

But If my app don't use **READ_E

[2017-05-25 04:43] zakdances opened #25 "Generates many "Cannot find name" errors"
After running `tns run ios` or `tns run android`, I get this:

[code]

[2017-05-26 19:47] ButterMeWaffle opened #26 "Android saveToGallery issue"
On Android only.

When you set `saveToGallery: true` it does not open the camera and throws this error
`JS: {"__zone_symbol__currentTask":{"type":"microTask","state":"notScheduled","source":"Promise.then","zone":"angular","cancelFn":null,"runCount":0}}`

my temporary solution (since i use iOS as well)
`if (this.app.android) {
            var options = {
                saveToGallery: true, //defau

[2017-06-08 23:11] mobilemindtech opened #27 "ios version not work"
Hi,

IOS record returns `videoCameraImage must be either video or audio`.

[2017-06-18 02:30] gtnunes1956 opened #29 "Feature Request: add stop()/pause()/resume() methods to recorder"
It would be a useful enhancement for this plugin to have a 'stop()' feature available. Moreover, the possibility to pause and resume recording within the same configuration state would also be a plus. Incidentally, all those features are available natively on both Android and iOS environments.

[2017-06-29 11:32] olehau opened #30 "NS3.1 Android Camera permission needed"
Hi.

I'm trying to use this on NS 3.1 for android, but all I get is the following error:
{"event":"camera permission needed"}.

I just installed the latest version of the plugin.

My initialization code looks like this:

[code]
When I try to start the recording it fails with the above error message. I never get the permission boxes to agree with the permissions.
However. If I add this to the app.j

[2017-06-29 12:14] olehau commented on #30
After some more debugging, the problem seems to be in src/android/video-recorder.js on line 38:
intent.putExtra(android.provider.MediaStore.EXTRA_OUTPUT, file.toURI());

TypeError: Cannot read property 'toURI' of undefined

[2017-07-14 17:07] ButterMeWaffle commented on #26
update - there seems to be anew error - `TypeError: Cannot read property 'toURI' of undefined`

[2017-08-09 19:03] ButterMeWaffle commented on #30
Thanks for putting the time into fixing this @olehau

[2017-08-28 10:51] MehdiAroui commented on #18
I install version 2.0.1 and still have that problem, on android 6 nativescript-angular 3.1.3

[2017-08-30 12:26] ButterMeWaffle commented on #18
@MehdiAroui to resolve the issue for android 7.0 and higher you need to request the following permissions.

CAMERA
RECORD_AUDIO **** this is the one most people forget about
WRITE_EXTERNAL_STORAGE
READ_EXTERNAL_STORAGE

Hope this helps.

[2017-09-06 22:10] ghost commented on #30
I have the very same issue.

[2017-09-07 12:35] ButterMeWaffle commented on #30
@Feather-CMS have you requested the record audio permission? using the permission plugin

[2017-09-07 19:31] ghost commented on #30
Hi, It works , however It was not working while connected to my machine (cable / MPB) interestingly, only in the morning I found out it was working.
Not used the permission plugin.

[2017-09-07 20:05] ghost commented on #30
I have the issue now it does not store the video on the phone, investigating .

[2017-09-08 17:44] ButterMeWaffle commented on #30
@Feather-CMS do you have it set to save the video?

[2017-09-08 18:17] ghost commented on #30
here

var options = {
    saveToGallery:true, //default false | optional
    duration:30, //(seconds) default no limit | optional
    format:'mp4', //allows videos to be played on android devices | optional | recommended for cross platform apps
    size:10, //(MB) default none | optional #android
    hd:true, //default  false low res | optional
    explanation:"Why do i need this permission" //opt

[2017-09-10 19:43] ghost commented on #30
got it working  by setting options.hd to false.

[2017-09-12 15:26] ButterMeWaffle commented on #30
I believe there is currently an issue with hs as well as duration. However i believe duration only causes a quality issue. @Feather-CMS

[2017-10-31 18:52] jibon57 opened #32 "Getting wrong name in Android"
Hello,

Thanks for the plugin. I am tying to use this plugin but after successfully completing the record it giving wrong file name. I checked the recorded file name & output file name isn't same. Anyone can help me please?

Thanks

[2017-11-01 13:22] jibon57 commented on #32
OK, got the solution. Will do a pull request later.

[code]

[2017-11-05 11:12] adnanakbar opened #33 "IOS: Why saveToGallery = true logic"
I am curious why when saveToGallery  = true, the file path is not return? It would be really handy to get the path of the file saved to gallery. This plugin returning the the path when saveToGallery = false which is of no use because the file is removed. It feels like this logic should be placed other way around. Please let me know if I didn't understand this correctly.
Basically I need to save it

[2017-12-07 09:20] kaiye opened #34 "`npm run setup` error"
I'm a newbie to NativeScript, I met a problem when I try to setup this project on my computer.
Is  there anyone met the same problem or could help me solve it ?

Here is the `npm run setup` log

[code]

[2018-01-18 12:34] mrazahasan commented on #26
`saveToGallery: true` but still file is not creating on provided path.

[2018-01-18 12:47] Sharique-Hasan opened #35 "Video file is not created on the returned path"
Video recorder is not creating file on the path returned from the plugin on Nexus6 with Android 7.1.1. However it is creating correct file on other devices.

[2018-01-19 13:45] Suralal001 opened #36 "Application returning error when giving "npm run demo.android" command"
When i try run the command npm run demo.android
it is returning the error:
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Users\\Neoito\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'demo.android' ]
2 info using npm@5.6.0
3 info using node@v8.9.3
4 verbose run-script [ 'predemo.an

[2018-01-25 02:08] ghost commented on #32
Is this plugin maintained? This issue is 3 months old and there is no response from the maintainer and the bug is still present.

[2018-01-25 02:17] triniwiz commented on #32
I’m around just busy but I have some updates planned for this plugin in a day or two

[2018-01-31 05:11] topara commented on #35
The same happened in huawei p8 andrid 5,1

[2018-01-31 05:38] topara commented on #35
Did someone found the solution?

[2018-02-01 00:23] topara commented on #35
Here's teh solution:
app.android.currentContext.onActivityResult = function (requestCode, resultCode, data) {
						if (requestCode === REQUEST_VIDEO_CAPTURE && resultCode === RESULT_OK) {
							let mediaFile=data.getData();
									if (options.saveToGallery) {
										resolve({ file: mediaFile.getPath() });
									} else {
										resolve({ file:  mediaFile.getPath() });
									}

[2018-02-06 05:30] Mubashir-Mohamed commented on #35
For me, the video is getting recorded but when I try to show it in my app its saying its undefined. Can anyone help me solve this issue

[2018-02-19 17:15] #32 closed, assigned to nobody

[2018-02-19 18:12] triniwiz commented on #34
Check out the lastest version

[2018-02-19 18:12] #34 closed, assigned to nobody

[2018-02-19 18:13] triniwiz commented on #33
It returns the path now

[2018-02-19 18:13] #33 closed, assigned to nobody

[2018-02-19 18:14] triniwiz commented on #27
Works in the latest changes https://github.com/triniwiz/nativescript-videorecorder/commit/82000edd5aa2e579ce5fec79268c02cb5d85e5d6

[2018-02-19 18:14] #27 closed, assigned to nobody

[2018-02-19 18:15] triniwiz commented on #21
Fixed https://github.com/triniwiz/nativescript-videorecorder/commit/82000edd5aa2e579ce5fec79268c02cb5d85e5d6

[2018-02-19 18:15] #21 closed, assigned to nobody

[2018-02-19 18:15] triniwiz commented on #22
Please update

[2018-02-19 18:15] #22 closed, assigned to nobody

[2018-02-19 18:15] triniwiz commented on #25
Try updating

[2018-02-19 18:15] #25 closed, assigned to nobody

[2018-02-19 18:16] triniwiz commented on #26
The next release should fix this

[2018-02-19 18:16] #26 closed, assigned to nobody

[2018-02-19 18:17] triniwiz commented on #29
So there is the advanced camera view i'm working on there is stop but i'll look into adding the pause and resume

[2018-02-19 18:18] triniwiz commented on #30
@Feather-CMS you can check out the v3 there is some new features where you can set the video quality plus more also this issue was fixed

[2018-02-19 18:18] #30 closed, assigned to nobody

[2018-02-19 18:19] triniwiz commented on #36
Please update

[2018-02-19 18:19] #36 closed, assigned to nobody

[2018-02-19 18:21] triniwiz commented on #35
Everyone here can try the v3 with the new camera view (would love some feedback) or they can stick with regular view also the next release has a fix for this

[2018-02-19 18:24] triniwiz commented on #35
Update away 😄

[2018-02-19 18:24] #35 closed, assigned to nobody

[2018-02-28 14:52] adnanakbar opened #38 "IOS: Get path of saved file"
When I record the video, the file gets saved on ios camera roll but data.file comes back as /asset.mp4

I need to save the path of the save file, how do I get the path. Its a very urgent requirement, need help please.

videorecorder.record(options)
            .then((data) => {
                console.log(data.file)
            })
            .catch((err) => {
                console.log(err)

[2018-02-28 15:22] triniwiz commented on #38
I can't promise a fix asap but i'll look into this

[2018-03-01 14:24] adnanakbar commented on #38
Can you suggest any work around?

[2018-03-03 14:31] Tronix117 opened #39 "AdvancedVideoView: not possible to set Orientation"
### If the demo apps cannot help and there is no issue for your problem, tell us about it
We should be able to set orientation for the video recorder, when we turn the Phone, there is no way to change the recorder to landscape.

### Which platform(s) does your issue occur on?
- Both

### Please, provide the following version numbers that your issue occurs with:

- CLI: 4.0.0-2018-03-01-10793
- Cro

[2018-03-03 14:41] Tronix117 opened #40 "AdvancedVideoView: crash on Android"
### If the demo apps cannot help and there is no issue for your problem, tell us about it
I have two different crashes everytime I try to load a AdvancedVideoView. Working smoothly on iOS, but crash on Android, with a different crash weither I set `cameraPosition` to `back` or `front`.

### Which platform(s) does your issue occur on?
- Android
- tested on Nougat
- emulator (camera working great in

[2018-03-03 14:54] Tronix117 opened #41 "VideoRecorder: crash on Android"
### If the demo apps cannot help and there is no issue for your problem, tell us about it
Can not start the videorecorder on Android, working fine on iOS.

### Which platform(s) does your issue occur on?
- Android
- Android Nougat
- emulator and device

### Please, provide the following version numbers that your issue occurs with:

- CLI: 4.0.0-2018-03-01-10793
- Cross-platform modules: 3.4.0
- Ru

[2018-03-03 15:51] Tronix117 commented on #40
Ok, I removed everything, remove platform, re-add plugin, re-add platform, now I can't build anymore:

[code]

[2018-03-03 15:59] triniwiz commented on #40
That’s new I’ll look into it

[2018-03-03 16:43] Tronix117 commented on #41
I add success using "nativescript-videorecorder@2.0.4" and manualy requesting permissions like so:
[code]

[2018-03-04 12:10] Tronix117 commented on #41
Ok So update on this issue:

Android Manifest should have (in the `<application>`):
[code]

Then in the file `App_Resources/xml/provider_paths.xml` you should have (it does not seem to pick the one in the module, I had to manualy create it):
[code]

Then the module code needs to be modified a bit like so:
[code]

Also `path = app.android.currentContext.getExternalFilesDir(null);` may be conditiona

[2018-03-15 03:17] #38 closed, assigned to nobody

[2018-03-15 03:17] #41 closed, assigned to nobody

[2018-03-21 04:28] adnanakbar commented on #38
This is still not fixed.
data.file still giving me /asset.mp4

I have done the following tweak to work for me:
 assetLibrary.writeVideoAtPathToSavedPhotosAlbumCompletionBlock(nativePath_1, function (file, error) {
                            //_this._callback({ file: path_1 });
                            if (!error) {
                                //_this._callback({ file: file.path });

[2018-03-21 04:34] adnanakbar opened #43 "IOS: Get path of saved file - #38 issue still exists"
#38 this is is still not resolved.

data.file still giving me /asset.mp4

I have done the following tweak to work for me:
assetLibrary.writeVideoAtPathToSavedPhotosAlbumCompletionBlock(nativePath_1, function (file, error) {
//_this._callback({ file: path_1 });
if (!error) {
//_this._callback({ file: file.path });
**_this._callback({ file: path_1 });**
}
//fs.File.fromPath(path_1).remove();
});

**

[2018-03-30 03:45] #40 closed, assigned to nobody

[2018-03-30 03:54] triniwiz commented on #39
You can try recording with the device rotated in the latest version

[2018-03-30 03:54] Tronix117 commented on #39
Yep done and working ;)

[2018-03-30 06:54] Tronix117 commented on #39
Does not work on iOS

[2018-04-18 19:45] FarruchKouliev opened #44 "Permissions error when only one permission given"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
- Tested only on Android
- Android 26
- emulator

[2018-04-18 21:26] triniwiz commented on #44
Fixed in the latest release 👍

[2018-04-18 21:26] #44 closed, assigned to nobody

[2018-04-19 17:54] ghost commented on #38
Agreed we are running in to the same issue, plus I have a small fix we will put in a PR shortly to do with permissions when you choose save to gallery. Do you think this will get looked at reasonably soon, or should we start considering workarounds?

Thanks, love the work by the way!

[2018-04-20 23:08] joey0xx opened #45 "App crashes after recording the video and tapping on the checkmark"
### If the demo apps cannot help and there is no issue for your problem, tell us about it
After recording a video and tapping on the checkmark to get the file the app crashes

### Which platform(s) does your issue occur on?
- Android
- iOS/Android versions
- device. What type of device?

### Please, provide the following version numbers that your issue occurs with:

- CLI: 4.0.0
- Cross-platform m

[2018-05-18 13:48] klever34 commented on #45
I am getting the same error as @joey0xx .. any solution to this yet?

[2018-06-18 13:57] wanpeng2008 opened #46 "App crash with IllegalArgumentException: Failed to find configured root that contains /storage/emulated..."
Here is the call to the videorecorder:
[code]
Here is the error message:
[code]
tns info:
[code]

[2018-06-18 14:21] wanpeng2008 commented on #46
it works after i remove the provider section in AndroidManifest.xml
[code]
also the xml/provider_paths.xml
[code]

[2018-06-18 14:21] #46 closed, assigned to nobody

[2018-07-01 13:46] FarruchKouliev opened #47 "App crashes after starting video-recorder on iOS"
### If the demo apps cannot help and there is no issue for your problem, tell us about it
App crashes after Start whithout NS-Errors, when using video-recorder on iOS. However, there are some errors in the simulator logs, as listed below.

### Which platform(s) does your issue occur on?
- iOS
- iOS 10.3
- emulator

### Please, provide the following version numbers that your issue occurs with:

- C

[2018-07-01 20:02] triniwiz commented on #47
The plugin won't work on the ios simulator

[2018-07-02 16:58] FarruchKouliev commented on #47
Ok, can you give me some insights why it‘s not possible? Meaning, is it not possible in general on iOS, or in NativeScript or does the plugin need to be extended?
And does it work on a real device?

[2018-07-02 16:59] triniwiz commented on #47
In general for iOS

[2018-07-02 17:01] klever34 commented on #47
@triniwiz on android device, when I set the HD to true, the app crashes

[2018-07-02 17:03] triniwiz commented on #47
@klever34 sounds like you are using the standard recorder I’ll have to look into that

[2018-07-02 17:04] klever34 commented on #47
@triniwiz Okay should I wait for a feedback?

[2018-07-02 17:09] triniwiz commented on #47
@klever34 you can always try out the `AdvancedVideoView`

[2018-07-16 07:43] avsb93 opened #48 "Build Fails on installation of this plugin"
After adding this plugin to project the build fails:
C:\Users\47700168\.gradle\caches\transforms-1\files-1.1\appcompat-v7-27.0.2.aar\2f1ec260cab2c1a9873c50dd9eb8d775\res\values-v26\values-v26.xml:9:5-12:13: AAPT: error: resource android:attr/colorError not found.

C:\Users\47700168\.gradle\caches\transforms-1\files-1.1\appcompat-v7-27.0.2.aar\2f1ec260cab2c1a9873c50dd9eb8d775\res\values-v26\values-

[2018-08-18 08:52] cloudSchulze opened #49 "Take a picture after video recording not working :("
Hi,

i think, i have found an issue. In my app there is a page, where the user can take pictures and record a video. The issue is that after recording a video with the nativescript-videorecorder, i can't take a picture with nativescript-camera anymore. The **promise** in camera.takePicture don't get back. No resolve and no reject. Can you help me :( ?

Here is my code:

**After this**

public onRe

[2018-08-22 09:33] ppulwey commented on #49
@triniwiz  This error is getting really serious because it holds us back from releasing the android version for our customer.

[2018-08-29 09:45] cloudSchulze commented on #49
Any news :( ?

[2018-10-01 19:51] cloudSchulze commented on #49
HI i found the issue! I changed in videorecorder.android.js two lines of code:

// your code ->
app.android.off(app.AndroidApplication.activityResultEvent);
app.android.currentContext.onActivityResult = function (requestCode, resultCode, resultData) {

// my code ->
app.android.off("activityResult");
app.android.on("activityResult", function (args) {

After that you can call "requestCode", "result

[2018-10-01 20:06] cloudSchulze commented on #49
[code]

[2018-10-12 02:03] #47 closed, assigned to nobody

[2018-10-12 02:05] #49 closed, assigned to nobody

[2018-10-12 02:05] #45 closed, assigned to nobody

[2018-10-12 02:05] #48 closed, assigned to nobody

[2018-10-18 15:45] joey0xx opened #50 "Build fails"
Getting this error when building the app.

C:\...\.gradle\caches\transforms-1\files-1.1\appcompat-v7-28.0.0.aar\6e16995b85ad0a68e11f77ec59e559b3\res\values-v28\values-v28.xml:9:5-12:13: AAPT: error: resource android:attr/dialogCornerRadius not found.

C:\...\platforms\android\app\build\intermediates\incremental\mergeDebugResources\merged.dir\values-v28\values-v28.xml:11: AAPT: error: resource andr

[2018-10-18 15:50] #50 closed, assigned to nobody

[2018-10-18 15:51] triniwiz commented on #50
You can try updating to `3.0.0-beta.1`

[2018-10-23 20:58] adnanakbar commented on #43
Any update on this please?

[2018-10-23 21:06] triniwiz commented on #43
@adnanakbar i'm currently working on a new camera/recorder which will include the fix

[2018-11-30 09:52] darxmac commented on #45
Hi, I still have this problem with the latest version directly from `master`

[code]

[2018-11-30 10:17] darxmac commented on #45
update: this only happens when `saveToGallery` is set to `true`

[2018-12-15 11:18] javik6 opened #51 "IOS: saveToGalley: true not resolve requestPermissions"
In src/videorecorder.ios.ts

Please, modify line 32-34 to:

[code]

Thanks ;)

[2018-12-26 17:40] praveshkhatana opened #52 "NO AUDIO in recorded video if video duration exceed 11seconds | IOS"
### Make sure to check the demo app(s) for sample usage
yup same issue in DEMO APP

### Which platform(s) does your issue occur on?
- **iOS 12.1.2 & IOS 12.0.1**
- in every Apple Device, **tested on 8+, 7, XS & 6**

### Please, provide the following version numbers that your issue occurs with:

- CLI: **5.1.0**
- Cross-platform modules: using same DEMO project

### Please, tell us how to recreate

[2018-12-27 21:10] #52 closed, assigned to nobody

[2019-01-01 21:24] adenhertog opened #53 "Getting "TypeError: co.fitcom.fancycamera.FancyCamera is not a constructor""
**Platform:**
Android emulator

**Versions:**
CLI: 5.1.0
Cross-platform modules: 5.1.1
Runtimes: 5.1.0
Plugin: nativescript-videorecorder@3.0.0-beta.2
Angular: 7.1.0

**Reproduce:**
Create a new angular component, and try to embed a `nativescript-videorecorder` view as such:
example.component.ts:
[code]

**Expected:**
Video viewer should render

**Actual:**
[code]

The line referenced in the error

[2019-01-02 04:45] adenhertog commented on #53
This wasn't an issue with `nativescript-videorecorder` in the end but something due in the build chain.

Resolved by:
[code]

[2019-01-02 04:45] #53 closed, assigned to nobody

[2019-01-31 13:33] mrwrighty opened #55 "Quality Settings"
Trying to control the video quality on iOS. The Plugin is working great and I can upload files to my webservice, however there is a massive difference in quality and size between hd: false and hd: true. The hd: false setting gives the MMS quality video which is poor but small is file size and hd: true gives excellent quality as you would expect, but a massive file size. 20 seconds being around 32M

[2019-01-31 23:30] triniwiz commented on #55
You can use the advanced camera class where you can control most of that 🙂

[2019-01-31 23:39] mrwrighty commented on #55
Can you advise as I thought I had tried that with no luck, can you give an example please.

[2019-01-31 23:45] triniwiz commented on #55
[here](https://github.com/triniwiz/nativescript-videorecorder/blob/master/demo/app/advanced-page.ts) and [here](https://github.com/triniwiz/nativescript-videorecorder/blob/master/demo/app/advanced-page.xml)

[2019-02-01 14:52] mrwrighty commented on #55
OK I have now implemented the Advanced Camera class which works great, however the minimum size I can set is 480P which is still an 8mb file for 22 seconds. I was hoping to get 360x480P so 360P as the quality setting, but this seems to be ignored. 480P OK, 720P OK, 1080P OK, but nothing lower.

[2019-02-01 14:56] triniwiz commented on #55
I'll add in 360p but there is `QVGA` you can use for now

[2019-02-01 14:59] mrwrighty commented on #55
That would be great, thanks.

[2019-02-01 15:02] mrwrighty commented on #55
Tried QVGA, did seem to make any difference.

<recorder:AdvancedVideoView row="0" width="80%" quality="QVGA" cameraPosition="back" id="recorderView" fill="true" thumbnailCount="1"/>

[2019-02-01 15:02] triniwiz commented on #55
Try non caps

[2019-02-01 15:05] mrwrighty commented on #55
perfect thanks.

[2019-02-01 15:09] mrwrighty commented on #55
Do you alter the mp4 compression for the files or is that device dependant.

[2019-02-01 15:14] mrwrighty commented on #55
Also for the record the output from the basic control is different from the advanced control.

Basic is "/private/var/mobile/Containers/Data/Application/589D652E-BD66-4AB0-995F-138FA124CB67/tmp/57072391264__E5EE7577-52BE-4DC9-BF6A-3DB558B5F85B.MOV"

Advanced is "file:///var/mobile/Containers/Data/Application/DD38E1A8-F725-4A87-89DB-4DF0C9BEA35D/Library/Caches/VID_1549031388466.mp4"

I had to strip

[2019-02-01 15:19] triniwiz commented on #55
I don't alter the any extra settings and i'll look unifying it also the plugin will be deprecated sooner or later in favor of [this](https://github.com/triniwiz/nativescript-fancy-camera)

[2019-02-01 15:20] mrwrighty commented on #55
OK, look interesting, I look forwards to trying it out.

[2019-02-01 16:30] mrwrighty commented on #55
Could you implement a maximum video length setting in the Advance option in this version and the new version please.

[2019-02-04 13:13] mrwrighty commented on #55
Is it possible to control the file output type i.e H264 rather than HEVC in iOS. HEVC as limited support in Internet Explorer/Windows 10. Using qvga results in an MP4 file, but is still HEVC, using any other format such as 1080P results in an MOV file in H264 format.

[2019-02-05 22:23] stonewallmhk opened #56 "nativescript Angular does not seem to work with this plugin"
- CLI: 5.1.1
- Cross-platform modules:  5.1.2
- Plugin(s): nativescript-videorecorder version = ^3.0.0-beta.3
I am new to coding and to nativescript. I am trying to use the plugin and used the code given in the documentation, however nothing happens.
When i try to test it the UI opens up and on button click it asks for permission for camera and audio. I click YES and nothing happens after that. En

[2019-02-08 19:20] ezequielzacca commented on #14
is this feature available? or is it any way to capture the frames and do some processing?

[2019-03-01 08:56] mrwrighty opened #57 "App Crashes if audio not enabled"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
- iOS (Android not tested)
### Please, provide th

[2019-03-06 19:55] thiagohagy opened #58 "App crash after record is finished"
The app crashes on device (Moto G4) every time when video is finished recording, after click on the "check" button, but works fine on android emulator.
Can't get any error log or notification about what is happening

[2019-03-06 20:34] triniwiz commented on #58
Have you checked logcat ?

[2019-03-06 21:06] thiagohagy commented on #58
Its kinda weird, but after I removed the "saveToGallery" option it worked like a charm

[2019-03-21 10:33] mrwrighty opened #59 "App Crash after update to 3.0.0-beta.3"
### Which platform(s) does your issue occur on?
- iOS
- iOS 10.3.3

### Please, provide the following version numbers that your issue occurs with:
 Nativescript 5.2.3

### Please, tell us how to recreate the issue in as much detail as possible.
Describe the steps to reproduce it.

### Is there any code involved?
 3.0.0-Beta.3

advanced-video-view.js:199 TypeError: ex.getMessage is not a function.

[2019-03-21 11:01] mrwrighty commented on #59
I have downgraded back to 3.0.0-beta.2 and the problem has gone away on iOS 10.3.3

[2019-03-22 14:56] mrwrighty commented on #59
Hi, any update on this please. My app is no longer functioning because of this error 'ex.getMessage' is undefined. I have tried editing the code in the plugin, but have not been able to fix the issue.

plugin is still OK on iOS 12.2.4 but crashes on iOS 10.3.3

[2019-03-26 16:29] mrwrighty opened #60 "Suggest code for retaking video"
### Which platform(s) does your issue occur on?
- iOS/Android/Both
- iOS 12.1.4
- emulator or device. What type of device?

### Please, provide the following version numbers that your issue occurs with:

- CLI: 5.2.3
- Cross-platform modules:
- Runtime(s): 5.2
- Plugin(s): 3.0.0-beta.3

### Please, tell us how to recreate the issue in as much detail as possible.

Re-record video after stop.

I'm t

[2019-04-08 11:25] mrwrighty opened #61 "Is this project still live"
Can you confirm if this project is still live. Questions seem to be left unanswered.

[2019-04-08 17:17] triniwiz commented on #61
It's still alive until [nativescript-fancy-camera](https://github.com/triniwiz/nativescript-fancy-camera) is complete

[2019-04-16 09:44] mrwrighty opened #62 "recorder.on('finished') not always called."
### Which platform(s) does your issue occur on?
- iOS
- iOS 12.2.4
- emulator or device. What type of device?

### Please, provide the following version numbers that your issue occurs with:

- CLI:  5.2.3
- Cross-platform modules: (check the 'version' attribute in the
`node_modules/tns-core-modules/package.json` file in your project)
- Runtime(s): (look for the `"tns-android"` and `"tns-ios"` prop

[2019-04-16 10:07] mrwrighty commented on #62
this is very unpredictable, sometimes I can record and retake up to 10 or more videos then it hangs, sometimes it hangs after one video. Once it is hung and I try to stop video I get the following error:-

Apr 16 11:03:02 iPhone-5c myRecorder(NativeScript)[510] <Notice>: 31  0xee99d5 JSC::JSModuleLoader::evaluate(JSC::ExecState*, JSC::JSValue, JSC::JSValue, JSC::JSValue)
Apr 16 11:03:02 iPhone-5c

[2019-04-18 14:32] mrwrighty commented on #59
Still getting this error, very frustrating. Have you given up supporting this product.

JavaScript error:
file:///app/tns_modules/nativescript-videorecorder/advanced/advanced-video-view.js:198:43: JS ERROR TypeError: ex.getMessage is not a function. (In 'ex.getMessage()', 'ex.getMessage' is undefined)

[2019-04-22 12:38] Tronix117 commented on #62
Got the same issue, only solution I found was reverting to tns-ios@5.1.1

[2019-04-23 08:13] mrwrighty commented on #62
Thanks Tronix117, very frustrating that the developer has failed to respond to requests for support. He has a good product and I've yet to find an alternative, but bugs like this drive me crazy.

[2019-04-23 13:32] cfjedimaster opened #63 "Android NPE issue when recording"
Trying a very simple example using NS/Vue and I get this issue when I try to record.

[code]

And here is the code I used:

[code]
### Which platform(s) does your issue occur on?
- Android
- Latest afaik
- Pixel 3 XL

### Please, provide the following version numbers that your issue occurs with:

- CLI: 5.0.0
- Cross-platform modules: 5.3.1
- Runtime(s): 5.3.1
- Plugin(s):
[code]

### Please, tell

[2019-04-23 13:39] cfjedimaster opened #64 "AdvancedVideoView - what is it?"
Title pretty much says it all. In the readme, the AdvancedVideoView is documented but nothing described what it is. Even one sentence would help.

[2019-04-23 15:17] Tronix117 commented on #62
Yes @triniwiz has good stuff, but maybe too much, and he is alone on those, so support is kind of eratic... But he is open to Pull Requests ;)

[2019-04-23 15:20] Tronix117 commented on #64
AdvancedVideoView does not open the device camera application, but rather allow you to embed the camera view in your app. You can then add the buttons over it to start/stop recording, etc...
It allows you for more customisation

[2019-04-23 15:25] Tronix117 commented on #55
You can handle the max video length yourself on AdvacnedVideo, by stoping the recording yourself after a certain amount of time.

For the transcoding, this module does not support transcoding. I made a transcoding poc there : https://github.com/Wikodit/nativescript-transcoder , it support only Android Hard Transcoding for now, iOS is easy to implement but I don't have the budget and time to finish

[2019-04-23 15:27] Tronix117 commented on #39
iOS solution:

(`orientation` is a number from enum AVCaptureVideoOrientation)
[code]
This code change the orientation in the output file. It does not change the orientation of the preview, not really needed

[2019-04-23 17:27] triniwiz commented on #55
@Tronix117 there are also two other transcoders [ffmpeg](https://github.com/triniwiz/nativescript-ffmpeg) and [video-editor](https://github.com/triniwiz/nativescript-video-editor)

[2019-04-23 20:21] cfjedimaster commented on #64
Thanks - copied (and slightly modified this) into a PR.

[2019-04-30 19:27] AdamAtri commented on #39
I'm not sure if this is still being worked on, but if I start the AdvancedVideoView in landscape, how do I get the capture in landscape mode also?

The screenshot is from iPad (ver 11.3.1)

![IMG_0002](https://user-images.githubusercontent.com/6920215/56987741-43ca3780-6b5c-11e9-9f4c-5143035c0b72.PNG)

## recorder.ts
[code]

## recorder.xml
[code]

## package.json
[code]

[2019-04-30 21:07] Tronix117 commented on #39
Hello, you can use my solution just above. Otherwise, I’m working on a PR to allow it to be set with a parameter, with common API between iOS and Android, I will submit the PR thursday, so hopefully @triniwiz will merge it pretty soon.

I will also publish a plugin to control and detect orientation no matter if the device orientation is locked or not, pretty useful when using camera. Hopefully, I

[2019-05-27 05:08] triniwiz commented on #62
I'll look into this and as @Tronix117 I have a lot of stuff to maintain so any pr will be appreciated ❤️

[2019-06-08 23:22] sylwesterdigital commented on #33
It returns:
[code]
When I try to record again recordVideo, `videorecorder.record().then((data) => does nothing`

So I try to work only with option: saveToGallery: false. The problem is that videos are temporarily saved to this folder:
[code]

When I close and reopen app I do not know how to list this folder. Are these tmp videos erased?
The only solution I worked out is to upload them earlier to t

[2019-06-19 00:43] nmaswood98 opened #67 "startRecording() keeps failing on ios"
I have the advanced video view set up. I have the recorder initialized just like how it is in the quick start.

But when I try to run startRecording() this gets outputted to the console.

        <<<< AVCaptureFigVideoDevice >>>> -[AVCaptureFigVideoDevice_copyFigCaptureSourceProperty:]_block_invoke: (0x103a53e00) Copy(AVHEVCSettings) failed (-12784)

        <<<< AVCaptureFigVideoDevice >>>> -[AVC

[2019-07-26 07:01] ashhadaimviz opened #68 "I used nativescript-videorecorder to record video but it shows denied when I try to trigger my recording method."
Here is my playground link so you can test. I try to give permission in android manifest but still it shows denied. Need help
https://play.nativescript.org/?template=play-ng&id=rhYjr2

[2019-07-30 11:54] Jmchemama opened #69 "the plugin does not work with androidX"
In the file videorecorder.android.js change

[code]
to

[code]

[2019-08-29 14:23] Nahiduzzaman opened #70 "TypeError: Cannot read property 'getExternalFilesDir' of undefined"
In Nativescript 6, I am using this plugin. I am getting this error when i call videorecorder.record().
On .catch() i am getting error "TypeError: Cannot read property 'getExternalFilesDir' of undefined"

[2019-08-29 14:41] triniwiz opened #71 "AndroidX Support"

[2019-08-29 14:41] #64 closed, assigned to nobody

[2019-09-16 12:01] GrEg00z commented on #70
On NS 6.1, I tried the modifications from #72 , and I still had an error until I did this :
I replaced
[code]
by
`androidSupport = androidx.core;`

What I suppose is even if you are on androidx, android.support.v4 stays still available, so the condition in the PR is wrong

[2019-10-03 10:27] Nahiduzzaman commented on #70
Where did you write this code?

[2019-10-06 08:56] GrEg00z commented on #70
The source of the plugins have changed, so my last comm is obsolete

Here is my edited file from **myApp\node_modules\nativescript-videorecorder\videorecorder.android.js** :

[code]

[2019-10-09 07:05] Ghits-nl commented on #55
Is this repo also avaiable in Javascript?

[2019-10-09 07:14] Ghits-nl commented on #55
does any body knows how to write this two rows code with javascript
import * as pages from 'tns-core-modules/ui/page';
export function loaded(args: pages.NavigatedData) {
    page = <pages.Page>args.object;
}

[2019-10-09 07:49] Tronix117 commented on #55
@Ghits-nl could you open a new thread when it is not the subject ?
Otherwise, you can simply replace above code by:

[code]

`pages` is only used here in TypeScript to define the type of `args.object`.

[2019-10-09 07:59] Ghits-nl commented on #55
Thank you

[2019-10-09 08:22] Ghits-nl commented on #55
I am trying to get the AdvancedVideoView runing but the function recorder.startRecording(); on advanced page mentionerd in demo does not response. Any idea?
Normal video recorder works fine but recorded video's are too big. I want to record in qvga quality.
I am using andriod

[2019-10-09 08:25] Ghits-nl commented on #55
and I get the TypeError: AdvancedVideoView.requestPermissions is not a function
hier is de code:
var pages = require('tns-core-modules/ui/page');
import { HelloWorldModel } from './main-view-model';
import { topmost } from 'tns-core-modules/ui/frame';
var AdvancedVideoView = require('nativescript-videorecorder/advanced');
let page;
var vm = new HelloWorldModel();
let recorder;
let interval;
export

[2019-10-09 09:53] Ghits-nl commented on #55
export function recordVideo() {
    recorder.startRecording();
}
; on advanced page does not start the camera. Any idea is much appretiated!

[2019-10-09 10:01] Ghits-nl commented on #55
could you please convert this also to JS:
import { AdvancedVideoViewBase } from './advanced-video-view.common';

export declare class AdvancedVideoView extends AdvancedVideoViewBase {
    readonly duration: number;
    readonly thumbnails: string[];

    public startRecording(): void;

    public stopRecording(): void;

    public stopPreview(): void;

    public toggleCamera(): void;

    public

[2019-10-09 13:12] Ghits-nl commented on #55
I am trying to do that but it does not work for me. I do not get any error but the camera does not start to record. it seems that recorder.startRecording(); not respondig. any idea?

[2019-10-10 11:30] Ghits-nl commented on #55
Except the "Video recorder" button on advanced page in the other buttons not working. Any suggestions is appreciated.

[2019-10-10 11:52] Ghits-nl opened #73 "Advance page buttons not working on Android"
Hi,

Except the "Video recorder" button on advanced view page are the other buttons not working. Any suggestions is much appreciated

I am using iOS/Android but at the moment just want trying with android.

- tns --version` = 6.1.2
- Cross-platform modules 'version' 6.0.1
- tns-android verion = 6.1.2

"dependencies": {
    "ffmpeg": "0.0.4",
    "gulp": "^3.9.1",
    "nativescript-audio": "^5.0.5"

[2019-10-10 13:49] Ghits-nl commented on #55
is advanced camera class working for andriod too?

[2019-10-10 13:50] Ghits-nl opened #74 "You can use the advanced camera class where you can control most of that 🙂"
You can use the advanced camera class where you can control most of that 🙂

_Originally posted by @triniwiz in https://github.com/triniwiz/nativescript-videorecorder/issues/55#issuecomment-459547254_

Is this class working on Android?

[2019-10-13 01:57] mspusta78 opened #75 "Issue with {N} 6 and iOS 13"
Does anyone have any luck running this plugin on iOS 13.0 and up?

This plugin was working perfectly fine with iOS 12.4 but now that I upgraded to {N} 6 and iOS 13 this plugin no longer works.

Is there any workaround?

[2019-10-13 02:39] mspusta78 commented on #75
updating to iOS 13.1 and latest version of XCode along to the latest version of {N} 6.1.1 seem to resolve the issue.

Thanks, Osei for all your hard work!!!!!

[2019-10-13 02:39] #75 closed, assigned to nobody

[2019-10-13 04:24] mspusta78 commented on #39
Hey @Tronix117

Any update on the orientation? using the latest iOS 13 no matter what I set the orientation property it always outputs out portrait version.

You mentioned this code fixes it,

     const mediaFile = this.camera._output)
      const connection = mediaFile.connectionWithMediaType(AVMediaTypeVideo)
      if (connection && connection.supportsVideoOrientation) {
        connection.vide

[2019-10-14 22:23] triniwiz commented on #74
Yes an updating is coming soon to upgrade the android core to 1.x of the lib

[2019-10-15 15:19] Ghits-nl commented on #74
Ok, Please let me know when the upgrade is ready. I am realy need it. Thank you in advance

[2019-11-02 14:54] mrioso opened #76 "Error .record()"
Hi guys, i need help.

I get that error when i try to record.

- Emulator Android version 6.1.2
- CLI: 6.1.2
- Cross-platform modules: 6.1.2
- Runtime:

[code]
- Plugins:

[code]

- Code:
[code]

[2019-11-14 00:07] dnelson-simplec commented on #71
I've forked and made a version compatible with android-x and NS6+

https://github.com/simplec-dev/nativescript-videorecorder

you all can use the plugin nativescript-videorecorder-x until this plugin is updated.

[2019-12-18 12:17] Ghits-nl commented on #23
I have the same issue in some Android devices

[2019-12-24 04:41] #69 closed, assigned to nobody

[2019-12-24 04:41] #70 closed, assigned to nobody

[2019-12-24 04:41] #71 closed, assigned to nobody

[2019-12-30 16:44] ukik opened #77 "CAMERA_DISCONNECTED"
System.err: android.hardware.camera2.CameraAccessException: CAMERA_DISCONNECTED (2): checkPidStatus:1708: The camera device has been disconnected
System.err:     at android.hardware.camera2.CameraManager.throwAsPublicException(CameraManager.java:765)
System.err:     at android.hardware.camera2.impl.ICameraDeviceUserWrapper.submitRequestList(ICameraDeviceUserWrapper.java:86)
System.err:     at andr

[2020-01-15 04:58] triniwiz commented on #68
This won't work on playground

[2020-01-15 04:58] #68 closed, assigned to nobody

[2020-01-15 05:02] #23 closed, assigned to nobody

[2020-01-15 05:03] #29 closed, assigned to nobody

[2020-01-15 05:03] #43 closed, assigned to nobody

[2020-01-15 05:03] #51 closed, assigned to nobody

[2020-01-15 05:03] #55 closed, assigned to nobody

[2020-01-15 05:03] #56 closed, assigned to nobody

[2020-01-15 05:03] #57 closed, assigned to nobody

[2020-01-15 05:03] #58 closed, assigned to nobody

[2020-01-15 05:03] #59 closed, assigned to nobody

[2020-01-15 05:03] #61 closed, assigned to nobody

[2020-01-15 05:03] #62 closed, assigned to nobody

[2020-01-15 05:03] #63 closed, assigned to nobody

[2020-01-15 05:03] #67 closed, assigned to nobody

[2020-01-15 05:03] #73 closed, assigned to nobody

[2020-01-15 05:03] #74 closed, assigned to nobody

[2020-01-15 05:03] #76 closed, assigned to nobody

[2020-01-15 05:03] #77 closed, assigned to nobody

[2020-04-02 11:59] FariJan opened #78 "AdvancedVideoView crashes App on start"
On start my app crashes with following Error-Log:
[code]

Found this on Stackoverflow [https://stackoverflow.com/a/59376041/10947127](url) but have no idea how to use this or if it could help.

### Which platform(s) does my issue occur on?
- Android
- Android 10
- device, Samsung Galaxy S9+

### Version numbers that my issue occurs with:

- CLI: 6.5.0
- Cross-platform modules: 6.5.1
- Runtime(s):

[2020-05-11 22:46] Naethyn opened #79 "Livesync hangs at "Project successfully prepared (ios)""
Similar to the issue located here.  https://github.com/NativeScript/sidekick-feedback/issues/465

When I add this plugin to my project it hangs at "Project successfully prepared (ios)" using the latest (6.5.0) nativescript ios.

[2020-06-04 08:15] ElieSol commented on #78
Hello FariJan did you find a solution to this ? Have the same issue here (working with Nativescript-Vue + Typescript) and didn't manage to fix it with the stackoverflow solutions ^^

[2020-06-04 08:20] FariJan commented on #78
I used the fork Videorecorder X
https://market.nativescript.org/plugins/nativescript-videorecorder-x
No problem with this

[2020-06-04 08:35] ElieSol commented on #78
Great I will try this, thank you @FariJan :)

[2020-06-04 14:20] ElieSol commented on #78
Hi again @FariJan , may I ask if you are able (and how) using Nativescript Vue+ Typescript to call the method .startRecording() in the App script ?

[2020-06-15 11:05] FariJan commented on #78
@ElieSol yes
[code]

[2020-06-15 11:12] ElieSol commented on #78
@FariJan  Thank you very much !! This helps a lot :)

[2020-06-15 19:35] djp3d commented on #79
I have the same issue, using version 6.5.0

[2020-07-14 20:42] mreall commented on #38
This is still a problem.  If I set saveToGallery to true in the options, I can't access the recording at the data.file location. Setting saveToGallery to false works fine, but then the video isn't available in the gallery.

[2020-07-22 17:13] mreall commented on #79
I have the same issue, using nativescript 6.7.8 and tns-ios 6.5.2. I can deploy successfully to my device from XCode, though. Has anyone had any success fixing this issue?

[2020-07-28 20:14] mreall commented on #79
I figured out the problem. The file nativescript-videorecorder/after-prepare.js is called after the tns prepare phase (when we see the "Project successfully prepared (ios)" message. The script creates a promise that only resolves if the AndroidManifest.xml is found in the platforms folder. If you do a clean build or delete the platforms folder, the AndroidManifest.xml file doesn't exist, so the pr

[2020-07-28 20:15] mreall commented on #79
@Naethyn please see my previous comment. Do you mind to update the plugin so it only creates the promise in after-prepare.js when building for android?  Thanks.

[2020-07-28 20:16] mreall commented on #79
@triniwiz please see my previous comment. Do you mind to update the plugin so it only creates the promise in after-prepare.js when building for android? Thanks.

[2020-08-05 15:19] mreall commented on #62
@mrwrighty I'm having similar issues right now where the "finished" event isn't triggered after I call .stopRecording(). Did you figure out a workaround?

[2020-10-01 12:17] mobifly-dev opened #80 "Support for Nativescript 7"
Hi there,

do you plan update this plugin to support NativeScript 7?

At the moment plugin throws error:

System.err:    > Module 'nativescript-videorecorder/advanced' not found for element 'nativescript-videorecorder/advanced:AdvancedVideoView'.
System.err:    > Class constructor View cannot be invoked without 'new'

[2020-11-01 01:24] maganius opened #81 "sdkVersion error"
When execute the video record ` videorecorder.record()` the console throw an error ` Cannot read property 'sdkVersion' of undefined`

### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters lon

[2021-01-29 13:55] mrwrighty commented on #80
Do you have an update for NS 7 update. Need urgently.

[2021-01-29 16:05] mrwrighty commented on #80
Apparently he is now supporting his project from here https://github.com/triniwiz/nativescript-plugins/tree/master/packages/nativescript-videorecorder.

@triniwiz, please post an update on your Git for this.

[2021-02-23 10:15] Natszen opened #82 "Videorecorder is not working on iOS 14"
### Which platform(s) does your issue occur on?
Error occurs on device with iOS 14

### Please, provide the following version numbers that your issue occurs with:

- CLI: 7.0.11
- Cross-platform modules: 7.0.13
- Runtime(s): 7.0.6
- Plugin(s): 4.0.0

### Please, tell us how to recreate the issue in as much detail as possible.
I use plugin as defined in documentation. It works fine on Android howev

[2021-05-01 11:05] triniwiz commented on #81
Fixed in `@triniwiz/nativescript-videorecorder`

[2021-05-01 11:05] #81 closed, assigned to nobody

[2021-05-12 09:21] mamuncse1112 opened #83 "saveToGallery:false not working on android nativescript 7"
Here is my code,
const options: VideoRecorderOptions = {
			hd: false,
			saveToGallery: false
		}
		const videorecorder = new VideoRecorder(options)
        videorecorder.record().then((data) => {
			console.log("Path" , data.file)

		}).catch((err) => {
			console.log(err)
		})

[2021-05-12 21:10] triniwiz commented on #83
Any error ?

[2021-05-17 04:17] mamuncse1112 commented on #83
No..... videorecorder.record() function not executed.... If SaveToGalary : false

[2021-05-17 04:20] mamuncse1112 commented on #83
@triniwiz/nativescript-videorecorder version 4.0.1

[2021-05-19 22:28] triniwiz commented on #83
fixed in `@triniwiz/nativescript-videorecorder version 4.0.2`

[2021-05-19 22:28] #83 closed, assigned to nobody

[2021-05-19 22:29] triniwiz commented on #82
fixed in `@triniwiz/nativescript-videorecorder version 4.0.2`

[2021-05-19 22:29] #82 closed, assigned to nobody